*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#f5fff5;
color:#333;
}

header{
position:fixed;
width:100%;
top:0;
background:#2e7d32;
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 8%;
z-index:1000;
}

.logo{
color:white;
font-size:24px;
font-weight:700;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:600;
}

.hero{
height:100vh;
background:url('../img/banner.jpg') center/cover;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero-content{
background:rgba(0,0,0,.55);
padding:40px;
border-radius:20px;
color:white;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
margin-bottom:30px;
}

.btn{
background:#4caf50;
padding:15px 30px;
border-radius:10px;
color:white;
text-decoration:none;
font-weight:bold;
}

.introducao{
padding:80px 10%;
text-align:center;
}

.titulo{
text-align:center;
margin-bottom:40px;
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
padding:0 5% 80px;
}

.card{
background:white;
width:300px;
border-radius:20px;
overflow:hidden;
box-shadow:0 5px 20px rgba(0,0,0,.1);
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
height:200px;
object-fit:cover;
}

.card h3{
padding:15px;
}

.card p{
padding:0 15px 20px;
}

.linha-tempo{
background:#e8f5e9;
padding:80px 5%;
text-align:center;
}

.timeline{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
margin-top:30px;
}

.timeline div{
background:#4caf50;
color:white;
padding:15px 25px;
border-radius:30px;
}

#curiosidades{
padding:80px 5%;
}

.curiosidades{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:40px;
}

.curiosidades div{
background:white;
padding:30px;
width:250px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
text-align:center;
}

.curiosidades h3{
font-size:45px;
color:#2e7d32;
}

#sobre{
padding:80px 10%;
text-align:center;
}

footer{
background:#2e7d32;
color:white;
text-align:center;
padding:20px;
}

@media(max-width:768px){

.hero h1{
font-size:40px;
}

nav{
display:none;
}

}
